html, body {
	padding: 0;
	margin: 0;
	background: #fff;
}

html, body, input, button {
	font-family: Myriad Pro;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.7px;
	color: #666;
}

.content {
	width: 947px;
	margin: 0 auto;
}

h1, h2 {
	margin: 0;
	font-style: italic;
	font-weight: normal;
}

h1 {
	margin: 58px 0 0;
	padding: 0;
	color: #000;
	font-size: 36px;
}

h2 {
	margin-top: 0;
}

input, button {
	border-radius: 2px;
}

button {
	margin-top: 26px;
	border: none;
	border-bottom: 2px solid #0079aa;
	background: #0099d7;
	color: #fff;
	height: 34px;
	line-height: 36px;
	padding: 0 25px;
}

button:active {
	background: #0079aa;
}

form {
	padding: 20px;
	background: #e6e6e6;
	border-bottom: 2px solid #cecece;
	margin-top: 40px;
}

form tr:last-child {
	text-align: right;
}

form button {
	background: #8ac34e;
	border-bottom-color: #6d9b3e;
	margin-top: 10px;
}

form button:active {
	background: #6d9b3e;
}

table {
	width: 100%;
	margin-top: 15px;
}

td {
	
}

input[type="text"] {
	border: none;
	border-top: 2px solid #cbcbcb;
	width: 98%;
	height: 34px;
	padding: 0 1%;
}

#loader {
	display: none;
}

#loader, #loader div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#loader .mask {
	background: #fff;
	opacity: 0.9;
	filter: alpha(opacity=30);
}

#loader .img {
	background: url('../img/loader.gif') no-repeat center center;
}